<div fxLayout="row" fxLayoutAlign="center center" fxFill>
  <div fxLayout="column" fxFlex="25%">
    <h1 fxLayout="row" fxLayoutAlign="center center" fxFill>Register</h1>
    <p>
      <mat-card class="login-card" fxLayout="column" fxLayoutGap="25" fxFill>
        <div fxLayout="column" fxLayoutGap="25" fxFill>
          <mat-form-field appearance="legacy" floatLabel="always" fxFlex="90%">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Your Username" />
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="legacy" floatLabel="always" fxFlex="90%">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Your Email" />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="legacy" floatLabel="always" fxFlex="90%">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Your Password" />
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="legacy" floatLabel="always" fxFlex="90%">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Your Username Again" />
            <mat-icon matSuffix>check_circle</mat-icon>
          </mat-form-field>
        </div>
      </mat-card>
    </p>

    <p fxLayout="row" fxLayoutAlign="center center" fxFill>
      <button mat-raised-button color="primary">Register</button>
    </p>
    <p>Already have an account? <a routerLink="/login">Login.</a></p>
  </div>
</div>
