<p>
  <mat-toolbar>
    <div
      class="content"
      fxLayout="row"
      fxLayoutAlign="space-between"
      fxFlexFill
    >
      <div fxLayout="col" gdColumns="auto" gdAlignColumns="center">
        <a routerLink="">
          <img src="./assets/logotipo.png" height="50px" />
        </a>
      </div>
      <div fxLayout="col" gdColumns="auto" gdAlignColumns="center">
        <div
          class="content"
          fxLayout="row"
          fxLayoutAlign="space-between"
          fxFlexFill
        >
          <div fxLayout="col" gdColumns="auto" gdAlignColumns="center">
            <mat-form-field appearance="fill">
              <mat-label>Language</mat-label>
              <mat-select
                formControlName="language"
                [(value)]="selectedLanguage"
              >
                <mat-select-trigger>
                  <span
                    *ngIf="selectedLanguage.flag == 'us'"
                    class="fi fi-us fis"
                  ></span>
                  <span
                    *ngIf="selectedLanguage.flag == 'br'"
                    class="fi fi-br fis"
                  ></span>
                  <span
                    *ngIf="selectedLanguage.flag == 'es'"
                    class="fi fi-es fis"
                  ></span>
                  &nbsp;{{ selectedLanguage }}
                </mat-select-trigger>
                <mat-option
                  *ngFor="let language of languages"
                  [value]="language.value"
                >
                  <span
                    *ngIf="language.flag == 'us'"
                    class="fi fi-us fis"
                  ></span>
                  <span
                    *ngIf="language.flag == 'br'"
                    class="fi fi-br fis"
                  ></span>
                  <span
                    *ngIf="language.flag == 'es'"
                    class="fi fi-es fis"
                  ></span>
                  &nbsp;{{ language.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          &nbsp; &nbsp;
          <div fxLayout="col" gdColumns="auto" gdAlignColumns="center">
            <a routerLink="login">
              <button mat-raised-button color="primary">Login</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
</p>
